body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  /* background-color: #0d0fa1 ; */
  font-family: "Roboto", sans-serif;
}
.container-fluid {
  /* background-color: #343a40; */
  /* background-color: #e1e1e1; */
  background-color: #0d0fa1;
  /* background-color: #f1f1f1; */
  /* background-color: #f8f8f8; */
  /* background-color: #2e6a47; */
  position: absolute;
  top: 0;
}

#navbarNav a {
  color: white;
  display: block;
  padding: 10px 35px;
  transition: color 0.3s; /* Adiciona transição suave para a cor */
}

#navbarNav a:hover {
  color: #f8f8f8; /* Cor do texto quando o mouse passar sobre os itens */
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%; /* Garantir que ocupe toda a largura */
}

.nav-item {
  margin: 0 10px; /* Opcional: para adicionar um pequeno espaçamento lateral entre os itens */
}

.dropdown-menu {
  background-color: #212529;
}

.logo-nav {
  width: 75px;
  height: 75px;
}

/* Estilo para o botão hamburger com imagem personalizada */
.navbar-toggler-icon {
  background: transparent; /* Remove o fundo padrão */
  border: none; /* Remove a borda padrão */
}

.navbar-toggler-icon img {
  width: 25px; /* Ajuste o tamanho da imagem */
  height: auto; /* Mantém a proporção da imagem */
}

/* Estilo do ícone hamburger */
.navbar-toggler-icon {
  background-color: transparent; /* Remove qualquer fundo do botão */
  border: none; /* Remove a borda do botão */
}

/* Mudando as linhas do ícone hamburger para branco */
.navbar-toggler-icon span {
  color: chartreuse; /* Torna as 3 linhas do ícone brancas */
}

/* Estilos do botão hamburger */
.navbar-toggler {
  border: none; /* Remove a borda do botão */
}

.container-inicio {
  background-color: #4e4eea;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-inicio .img-titulo {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.container-inicio .img-titulo h1 {
  color: #fff;
  font-size: 40px;
}

.container-inicio .img-titulo img {
  width: 400px;
  height: 400px;
}

.container-inicio .btn {
  display: flex;
  width: 100%;
  justify-content: end;
}
.container-inicio .btn .btn-plano {
  padding: 5px 80px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  transition: transform 0.6s ease; /* Para um efeito suave */
}
.container-inicio .btn .btn-plano:hover {
  transform: scale(1.4);
}

.text2 {
  margin-right: 275px;
  font-size: 70px;
}
.text3 {
  margin-right: 200px;
  font-size: 70px;
}

.container-meio{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paragrafo-seguranca{
  text-align: center;
  font-size: 50px;
}
.cores-H1{
  color: #FFB500;  
}
.separador {
  position: relative;
    display: block; /* Torna o separador um elemento de bloco */
  width: 2px; /* Largura da linha */
  height: 150px; /* Altura da linha */
  background-color: #FFB500; /* Cor da linha */
  margin: 20px auto; /* Espaço acima e abaixo da linha */
  visibility: visible; /* Garante que o separador seja visível */
  margin-top: 15px;
}
.conteiner-pos-meio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Opcional, para garantir que o conteúdo ocupe toda a altura da tela */
  margin-top: -230px;

}
  
.imageTranquilidade img {
  width: 500px;
  height: 500px;
}
.imageTranquilidade{
  position: relative;
}
.transparent-image {
  opacity: 0.4; /* Altere esse valor de 0.0 (totalmente transparente) a 1.0 (totalmente opaco) */
}
.texto-imagem {
  position: absolute;
  top: 80px; /* Ajusta a posição vertical do texto */
  left: 20px; /* Coloca o texto na margem esquerda */
  transform: translateY(-50%); /* Centraliza verticalmente em relação ao topo */
  color: black; /* Cor do texto */
  font-size: 2rem; /* Ajuste o tamanho do texto conforme necessário */
  padding-left: 20px; /* Ajuste para espaçar o texto da margem esquerda */
  z-index: 1; /* Garante que o texto fique sobre a imagem */
}

.textoDaTranquilidade {
  display: block;
  font-size: 2.5rem; /* Ajuste o tamanho da fonte para aumentar a largura do texto */
  word-wrap: break-word; /* Permite que o texto quebre em várias linhas, se necessário */
  color: #FFB500;
}

.texto-imagem + p {
  position: absolute;
  top: 200px; /* Ajuste a posição para que o texto fique abaixo do <h1> */
  left: 20px;
  font-size: 1.2rem; /* Ajuste o tamanho do texto conforme necessário */
  color: black; /* Cor do texto */
  width: calc(100% - 40px); /* Ajuste para garantir que o texto não ultrapasse a largura da imagem */
  margin-top: 10px;
  z-index: 1; /* Garante que o texto fique sobre a imagem */
}

.texto-imagem + p + p {
  position: absolute;
  top: 250px; /* Ajuste para o segundo parágrafo, para não sobrepor o primeiro */
  left: 20px;
  font-size: 1.2rem; /* Ajuste o tamanho do texto conforme necessário */
  color: black;
  width: calc(100% - 40px);
  margin-left: 20px;
  z-index: 1; /* Garante que o texto fique sobre a imagem */
}
.botao {
  position: absolute;
  top: 150px; /* Ajuste a posição para garantir que o botão fique abaixo do texto */
  left: 5px;
  background-color: #FFB500;
  color: white;
  font-size: 16px;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.6s ease; /* Para um efeito suave */
}

.botao:hover {
  background-color: #e68a00;
  transform: scale(1.3);
}
.Franquia {
  display: flex; /* Opcional: ajusta layout */
  justify-content: center; /* Opcional: alinha ao centro */
  align-items: center; /* Opcional: alinha verticalmente */
  padding-top: 100px;
}
.franquia {
  display: flex;            /* Define um modelo flexível */
  justify-content: center;  /* Centraliza horizontalmente */
  align-items: center;      /* Centraliza verticalmente */
  height: 100vh;            /* Define a altura da seção para 100% da altura da tela */
  margin-top: -500px;
  overflow: hidden;
}
.franquia-image {
  position: relative;
  padding: 10px 0;          /* Adiciona espaço ao redor da imagem */
  background-color: white; /* Cor de fundo branca para o contêiner */
  border-radius: 10px;    /* Se quiser bordas arredondadas, opcional */
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: sombra suave para destaque */
}
.franquia-image img {
  height: 300px;   /* Defina a altura desejada */
  width: 200vh;     /* Mantém a proporção da imagem */
  object-fit: cover;
  border-radius: 10px;
}
.textoFranquia {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#f8f8f8;
  font-size: 4rem; /* Ajuste conforme necessário */
  white-space: nowrap;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  line-height: 1.5; 
}

.separador-2 {
  position: relative;
  display: block;
  width: 2px;
  height: 150px;
  background-color: #FFB500;
  margin: 20px auto;
  visibility: visible;
  margin-top: -300px;
}



@media (max-width: 763px) {
  .container-inicio .img-titulo {
    flex-direction: column;
  }

  .container-inicio .img-titulo h1 {
    font-size: 5vw;
  }

  .container-inicio .img-titulo img {
    width: 200px;
    height: 200px;
  }

  .container-inicio .btn .btn-plano {
    padding: 5px 10px;
    font-size: 20px;
  }

  .container-inicio .btn .btn-plano{
    font-size: 10px;
  }
  .conteiner-pos-meio {
    transform: scale(0.7);
    transform-origin: center;
    height: 600px;
    margin-top: 0; /* Remove ou ajusta o espaçamento superior */
  }

  
}

@media (max-width: 992px) {
  .navbar-nav {
    display: block; /* Modifica a navegação para bloco em telas pequenas */
    text-align: center; /* Centraliza os itens no menu */
  }

  .nav-item {
    margin-bottom: 10px; /* Adiciona espaçamento inferior entre os itens no mobile */
  }
  .separador {
    position: relative;
    width: 1px; /* Diminui a largura da linha */
    height: 100px; /* Reduz a altura da linha */
    margin: 10px auto; /* Ajusta os espaçamentos */
    margin-top: 50px; /* Reduz o espaço superior */
    visibility: visible;
  }
  .paragrafo-seguranca{
    text-align: center;
    font-size: 40px;
  }
  .conteiner-pos-meio {
    transform: scale(0.8);
    transform-origin: center;
    height: 600px;
    margin-top: 0; /* Remove ou ajusta o espaçamento superior */
  }

  
}
@media (max-width: 1024px){
  .franquia {
    transform: scale(1.2); /* Reduz a escala da seção */
    transform-origin: center; /* Centraliza a transformação */
    height: 200px; /* Ajusta a altura da seção */
    margin-top: -100px; /* Remove o espaçamento superior */
    display: flex; /* Garante que a imagem e o texto sejam alinhados na mesma linha */
    flex-direction: column; /* Coloca a imagem e o texto em coluna, em vez de linha */
    justify-content: center; /* Centraliza o conteúdo */
  }

  .franquia-image {
    padding: 10px 0; /* Ajusta o padding da imagem */
    width: 200%; /* Garante que a imagem ocupe toda a largura disponível */
    position: relative;
  }

  .franquia-image img {
    height: 200px; /* Ajusta a altura da imagem */
    width: 100%; /* Ajusta a largura da imagem para ocupar toda a tela */
  }

  .textoFranquia {
    font-size: 2rem; /* Ajusta o tamanho da fonte */
    line-height: 1.1; /* Ajusta o espaçamento da linha */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Ajusta a sombra do texto */
  }

  .separador-2 {
    height: 100px; /* Ajusta a altura do separador */
    margin-top: 25px; /* Ajusta a posição do separador */
  }

  h1 {
    font-size: 1.5rem; /* Ajusta o tamanho do texto "um texto qualquer" */
    margin-top: 10px; /* Ajusta a margem do texto para não ficar muito colado */
  }
}
@media (max-width: 768px){


  .paragrafo-seguranca{
    text-align: center;
    font-size: 30px;
  }
  .separador {
    position: relative;
    width: 1px; /* Diminui a largura da linha */
    height: 100px; /* Reduz a altura da linha */
    margin: 10px auto; /* Ajusta os espaçamentos */
    margin-top: 10px; /* Reduz o espaço superior */
    visibility: visible;
  }
  .conteiner-pos-meio {
    transform: scale(0.8);
    transform-origin: center;
    height: 400px;
    margin-top: 0; /* Remove ou ajusta o espaçamento superior */
  }
  .franquia {
    transform: scale(1.2); /* Reduz a escala da seção */
    transform-origin: center; /* Centraliza a transformação */
    height: 150px; /* Ajusta a altura da seção */
    margin-top: 0; /* Remove o espaçamento superior */
    display: flex; /* Garante que a imagem e o texto sejam alinhados na mesma linha */
    flex-direction: column; /* Coloca a imagem e o texto em coluna, em vez de linha */
    justify-content: center; /* Centraliza o conteúdo */
  }

  .franquia-image {
    padding: 10px 0; /* Ajusta o padding da imagem */
    width: 200%; /* Garante que a imagem ocupe toda a largura disponível */
    position: relative;
  }

  .franquia-image img {
    height: 150px; /* Ajusta a altura da imagem */
    width: 200%; /* Ajusta a largura da imagem para ocupar toda a tela */
  }

  .textoFranquia {
    font-size: 1.3rem; /* Ajusta o tamanho da fonte */
    line-height: 1.1; /* Ajusta o espaçamento da linha */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Ajusta a sombra do texto */
  }

  .separador-2 {
    height: 100px; /* Ajusta a altura do separador */
    margin-top: 25px; /* Ajusta a posição do separador */
  }

  h1 {
    font-size: 1.5rem; /* Ajusta o tamanho do texto "um texto qualquer" */
    margin-top: 10px; /* Ajusta a margem do texto para não ficar muito colado */
  }
}
@media (max-width: 425px){
  .separador {
    position: relative;
    width: 1px; /* Diminui a largura da linha */
    height: 100px; /* Reduz a altura da linha */
    margin: 10px auto; /* Ajusta os espaçamentos */
    margin-top: 10px; /* Reduz o espaço superior */
    visibility: visible;
  }
  .conteiner-pos-meio {
    transform: scale(0.4);
    transform-origin: center;
    height: 200px;
    margin-top: 0; /* Remove ou ajusta o espaçamento superior */
  }
  .franquia {
    transform: scale(1); /* Reduz a escala da seção */
    transform-origin: center; /* Centraliza a transformação */
    height: 150px; /* Ajusta a altura da seção */
    margin-top: 0; /* Remove o espaçamento superior */
    display: flex; /* Garante que a imagem e o texto sejam alinhados na mesma linha */
    flex-direction: column; /* Coloca a imagem e o texto em coluna, em vez de linha */
    justify-content: center; /* Centraliza o conteúdo */
  }

  .franquia-image {
    padding: 10px 0; /* Ajusta o padding da imagem */
    width: 200%; /* Garante que a imagem ocupe toda a largura disponível */
    position: relative;
  }

  .franquia-image img {
    height: 150px; /* Ajusta a altura da imagem */
    width: 200%; /* Ajusta a largura da imagem para ocupar toda a tela */
  }

  .textoFranquia {
    font-size: 0.8rem; /* Ajusta o tamanho da fonte */
    line-height: 1.1; /* Ajusta o espaçamento da linha */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Ajusta a sombra do texto */
  }

  .separador-2 {
    height: 100px; /* Ajusta a altura do separador */
    margin-top: 10px; /* Ajusta a posição do separador */
  }

  h1 {
    font-size: 1.5rem; /* Ajusta o tamanho do texto "um texto qualquer" */
    margin-top: 10px; /* Ajusta a margem do texto para não ficar muito colado */
  }
}
@media (max-width: 375px){
  .conteiner-pos-meio {
    transform: scale(0.3);
    transform-origin: center;
    height: 200px;
    margin-top: 0; /* Remove ou ajusta o espaçamento superior */
  }
  .separador {
    position: relative;
    width: 1px; /* Diminui a largura da linha */
    height: 100px; /* Reduz a altura da linha */
    margin: 10px auto; /* Ajusta os espaçamentos */
    margin-top: 10px; /* Reduz o espaço superior */
    visibility: visible;
  }
  .franquia {
    transform: scale(1); /* Reduz a escala da seção */
    transform-origin: center; /* Centraliza a transformação */
    height: 150px; /* Ajusta a altura da seção */
    margin-top: 0; /* Remove o espaçamento superior */
    display: flex; /* Garante que a imagem e o texto sejam alinhados na mesma linha */
    flex-direction: column; /* Coloca a imagem e o texto em coluna, em vez de linha */
    justify-content: center; /* Centraliza o conteúdo */
  }

  .franquia-image {
    padding: 10px 0; /* Ajusta o padding da imagem */
    width: 200%; /* Garante que a imagem ocupe toda a largura disponível */
    position: relative;
  }

  .franquia-image img {
    height: 150px; /* Ajusta a altura da imagem */
    width: 200%; /* Ajusta a largura da imagem para ocupar toda a tela */
  }

  .textoFranquia {
    font-size: 0.8rem; /* Ajusta o tamanho da fonte */
    line-height: 1.1; /* Ajusta o espaçamento da linha */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Ajusta a sombra do texto */
  }

  .separador-2 {
    height: 100px; /* Ajusta a altura do separador */
    margin-top: 10px; /* Ajusta a posição do separador */
  }

  h1 {
    font-size: 1.5rem; /* Ajusta o tamanho do texto "um texto qualquer" */
    margin-top: 10px; /* Ajusta a margem do texto para não ficar muito colado */
  }
}
@media (max-width: 320px){
  .conteiner-pos-meio {
    transform: scale(0.3);
    transform-origin: center;
    height: 200px;
    margin-top: 0; /* Remove ou ajusta o espaçamento superior */
  }
  .franquia {
    transform: scale(1); /* Reduz a escala da seção */
    transform-origin: center; /* Centraliza a transformação */
    height: 150px; /* Ajusta a altura da seção */
    margin-top: 0; /* Remove o espaçamento superior */
    display: flex; /* Garante que a imagem e o texto sejam alinhados na mesma linha */
    flex-direction: column; /* Coloca a imagem e o texto em coluna, em vez de linha */
    justify-content: center; /* Centraliza o conteúdo */
  }

  .franquia-image {
    padding: 10px 0; /* Ajusta o padding da imagem */
    width: 200%; /* Garante que a imagem ocupe toda a largura disponível */
    position: relative;
  }

  .franquia-image img {
    height: 150px; /* Ajusta a altura da imagem */
    width: 200%; /* Ajusta a largura da imagem para ocupar toda a tela */
  }

  .textoFranquia {
    font-size: 0.8rem; /* Ajusta o tamanho da fonte */
    line-height: 1.1; /* Ajusta o espaçamento da linha */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Ajusta a sombra do texto */
  }

  .separador-2 {
    height: 100px; /* Ajusta a altura do separador */
    margin-top: 10px; /* Ajusta a posição do separador */
  }

  h1 {
    font-size: 1.5rem; /* Ajusta o tamanho do texto "um texto qualquer" */
    margin-top: 10px; /* Ajusta a margem do texto para não ficar muito colado */
  }
}

